<div class="container">
    <section class="img">
          <section class="img">
            <img *ngIf="oneKitten.imgUrl" [src]="oneKitten.imgUrl" alt="">
            <span class="noimg" *ngIf="!oneKitten.imgUrl">Photo à venir</span>
        </section>
        <button (click)="kittenAdd()" *ngIf="oneKitten.addKitten; else inactifButton">-</button>
<ng-template #inactifButton>
  <button (click)="kittenAdd()">+</button>
</ng-template>
    </section>
    <section class="img--hover">
        <p>{{oneKitten.name}}</p>
        <p>{{oneKitten.age}} ans </p>
        <p>{{oneKitten.races}}</p>
    </section>

</div>